<!DOCTYPE html>
{% extends 'valuelec_template/entries/layout.html' %}
{% block body %}
<html>
<head>
    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CORGI</title>
</head>
<br></br><br></br><br></br>
<body>
    <div class="circle_corgi">
        <img border="0" src="/static/valuelec_static/corgi.png" width="100" height="100">
    </div>


<div class="today">
    <center>
<p id="opacity02"> <b>
    CORGI
</b></p>
    </center>
</div>
<br><br>

<div class="table">
<table width="100%">
    <tr>
        <th>
            <div class="setumei">
                <table width="55%">
                    <tr>
                        <th>
                            <div class="passing move">
                                <div class="passing-box">
                                 <div class="passing-bar">
                                  <div class="passing-txt">CORGI</div>
                                 </div>
                                </div>
                               </div>

                        </th>
                    </tr>
                    <tr>
                        <td>
                            <h6><b>🐕先輩後輩マッチングサイトCORGI🐕</b></h6>
                            <h6>悩める大学生が先輩とマッチングすることで</h6>
                            <h6>問題を解決できるサイトです</h6>

                        </tr>
                    </tr>
                </table>
            </div>
        </th>
        <th>
            <div class="link">
                <table width="100%">
                    <br>
                    <center>
                    <body style="background-image : url(../../../static/dog.png);
                                background-repeat : no-repeat;
                                background-position : right 300px bottom 120px;
                                background-size : 400px;">

                            <tr>
                                <td><a href="{% url 'valuelec:search_subject' %}">検索ページへ</a><td>
                            </tr>
                            <tr>
                                <td><a href="{% url 'valuelec:explain' %}">使い方ページへ</a><td>
                            </tr>
                            <tr>
                              <td></td>
                            </tr>
                        </center>
                    </body>
                    </br>
                </table>
            </div>
        </th>
    </tr>
</table>

<br>

</body>
</html>
{% endblock %}
