<!DOCTYPE html>
{% extends 'valuelec_template/entries/layout.html' %}
{% block body %}
<html>

<head>
    <meta charset="utf-8" />
    <title>講義原作</title>
</head>

<body>
  <h1>講義検索</h1>
    <form action="" method="get">
        <input name="query" value="{{ request.GET.query }}" type="text">
        <button type="submit">検索する</button>
    </form>
    <a href="{% url 'valuelec:registerclass' %}">講義登録</a>
    <a href="{% url 'valuelec:index_render' %}">トップページに戻る</a>
    <h2>現在登録されている講義</h2>
    {% for class in classes %}
        <p><a href="{% url 'valuelec:showvalue' class.lec_name_for_url %}">{{ class.lec_name }} </p>
      {% endfor %}


</body>

</html>
{% endblock%}
