<!DOCTYPE html>
{% extends 'valuelec_template/entries/layout.html' %}
{% block body %}
<html>

<head>
  <meta charset="utf-8" />

  <title>講義検索</title>

</head>

<body>
  <h1 class="kensaku_midashi">講義検索</h1>
  <form action="" method="get">
    <input name="query" value="{{ request.GET.query }}" type="text">
    <button class="btn-square-shadow" type="submit">
      検索する
    </button>
  </form>
  <h5><strong>
      <a href="{% url 'valuelec:registerclass' %}">講義登録</a>
      /
      <a href="{% url 'valuelec:index_render' %}">トップページに戻る</a>
      <br></br>
      <h1 class=ichiran_midashi>
        講義一覧
      </h1>
    </strong></h5>
  <div>
    <ul class="list-group list-group-flush">
      {% for lecture in object_list %}
      <div class="card">
        <div class="card-body">
          <h5><strong>
              <table class="table table-striped">
                <tr>
                  <td><a href="{% url 'valuelec:showvalue' lecture.id %}" class="text-center">{{ lecture.lec_name }} </a></td>
                  <td>
                    <p class="text-center">{{ lecture.teacher_name }}</p>
                  </td>
                </tr>
              </table>
            </strong></h5>
          <br>
        </div>
      </div>
    </ul>
    {% empty %}
    <p>まだ講義登録がないようです！講義登録してください！</p>
  </div>
  {% endfor %}



</body>

</html>
{% endblock%}
