<!DOCTYPE html>
{% extends "layout.html" %}
{% block body%}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CORGI</title>
</head>
<body>
    <center><h1>CORGI</h1></center>
    <p>
    <table boder= "10" bordercolor="orange" width="250" style="float:left;">
    <tr>
        <th>新規</th>
    </tr>
    </table>
    </p>
    <center>
    <p>
    <table boder= "10" bordercolor="orange" width="250" >
    <tr>
        <th>講義選択</th>
    </tr>


<p>講義名：<br>
<select name="select"onChange="location.href=value;">
<option value="zyourite">情報リテラシー</option>
<option value="Taurus">解析学A</option>
</select></p>
<form action="/go" method="post" class='go'>
<input type="submit" action="/go" value="送信">
</form>
<input type="reset" value="リセット">
        <tr>
        <td> <a href="test.html">情報リテラシー</a> </td>
        </tr>
        <tr>
        <td> 第二行一列め </td>
        </tr>
        <tr>
        <td> 第三行一列め </td>
        </tr>
    </table>
    </p>
    </center>
</body>
</html>
{% endblock %}
